@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
@import "mixins";
* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
}
:root {
  --brigtRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);
  --paraLight: hsl(227, 12%, 61%);
  --paraDark: hsl(233, 12%, 13%);
  --paleRed: hsl(13, 100%, 96%);
}
a,
.fab {
  transition: 0.2s;
  cursor: pointer;
  outline: 0;
}
h1,
h2,
h3 {
  color: var(--darkBlue);
  font-weight: 700;
  @include breakpoint(tablet) {
    max-width: 500px;
    margin: 0 auto;
  }
}
p {
  color: var(--paraLight);
  @include breakpoint(tablet) {
    max-width: 550px;
    margin: 0 auto;
  }
}
body {
  font-size: 16px;
}
.getStartedBtn {
  padding: 0.8rem 2rem;
  background: var(--brigtRed);
  border-radius: 1.5rem;
  text-decoration: none;
  color: var(--paleRed);
  font-weight: 700;
  display: block;
  max-width: 90px;
  max-height: 25px;
  &:hover {
    background: hsl(12, 88%, 53%);
  }
}
.logo {
  max-height: 25px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  & .getStartedBtn {
    display: none;
    @include breakpoint(laptop) {
      display: flex;
    }
  }
  & .nav {
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(50, 70, 136, 0.98);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    transition: 0.4s;
    @include breakpoint(laptop) {
      position: relative;
      height: 3vh;
      background: #fff;
    }
    &--active {
      top: 0;
    }
    &__list {
      list-style: none;
      font-size: 28px;

      @include breakpoint(laptop) {
        font-size: 20px;
        display: flex;
      }
    }
    &__item {
      margin: 1rem 0;
      position: relative;
      padding-bottom: 0.3rem;
      overflow-x: hidden;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: -100%;
        bottom: 0;
        background: #fff;
        height: 3px;
        transition: 0.3s;
        @include breakpoint(laptop) {
          background: var(--darkBlue);
          height: 2px;
        }
      }
      &:hover::after {
        left: 0;
      }
      @include breakpoint(laptop) {
        margin: 0 0.6rem;
      }
    }
    &__link {
      color: #fff;
      text-decoration: none;

      @include breakpoint(laptop) {
        color: var(--darkBlue);
      }
    }
  }
}
.menuBtn {
  position: relative;
  display: flex;
  height: 20px;
  width: 30px;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  z-index: 11;
  @include breakpoint(laptop) {
    display: none;
  }

  &__bar {
    width: 100%;
    height: 4px;
    background: var(--darkBlue);
    transition: 0.3s;
    &--active {
      &:first-of-type {
        transform-origin: 0% 0%;
        transform: translateY(-3px) rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:last-of-type {
        transform: translateY(1px) rotate(-45deg);
        transform-origin: 0% 100%;
      }
    }
  }
}
.bgBlob {
  position: absolute;
  top: -5%;
  right: -10%;
  z-index: -1;
  right: 0;
  width: 250px;
  border-radius: 7rem;
  background: var(--paleRed);
  height: 450px;
  transform: rotate(45deg);
  @include breakpoint(laptop) {
    height: 650px;
    width: 350px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  &__container {
    @include breakpoint(laptopL) {
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__images {
    @include breakpoint(laptopL) {
      order: 2;
    }
    &--graph {
      max-width: 100vw;
    }
    &__bg {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__textSec {
    position: relative;
    text-align: center;
    @include breakpoint(laptopL) {
      text-align: left;
      max-width: 500px;
      margin-right: 3rem;
    }
    &--bg {
      right: -55%;
      width: 200px;
      @include breakpoint(laptop) {
        display: none;
      }
    }
    &--title {
      font-size: 36px;
      line-height: 1.2;
      @include breakpoint(laptopL) {
        margin: 0;
      }
    }
    &--text {
      margin: 1rem;
    }
    &--btn {
      margin: 2rem auto 4rem auto;
      @include breakpoint(laptopL) {
        margin: 2rem 0;
      }
    }
  }
}
.about {
  padding: 0 1rem;
  position: relative;
  @include breakpoint(laptopL) {
    display: flex;
    padding: 2rem;
    justify-content: center;
  }
  &__bg {
    left: -10%;
    top: 25%;
    display: none;
    @include breakpoint(laptopL) {
      display: block;
    }
  }
  &__main {
    text-align: center;
    padding: 2rem 1rem;
    @include breakpoint(laptopL) {
      text-align: left;
      margin-right: 4rem;
      max-width: 450px;
    }
    &--title {
      font-size: 32px;
      @include breakpoint(laptopL) {
        margin: 0;
      }
    }
    &--text {
      margin: 1rem 0 2rem 0;
      @include breakpoint(tablet) {
        margin: 1rem auto;
      }
    }
  }
  &__list {
    margin-bottom: 5rem;
    &--item {
      margin: 2rem 0;
    }
    &--title {
      letter-spacing: -1px;
      background: var(--paleRed);
      border-radius: 1rem;
      padding: 0.4rem 0;
      margin: 0 0 1rem 0;
      &--number {
        background: var(--brigtRed);
        padding: 0.4rem 1.5rem;
        border-radius: 1.5rem;
        font-weight: 500;
        color: #fff;
        margin-right: 0.5rem;
      }
    }
    &--text {
      line-height: 1.8;
    }
  }
}
.join {
  background: var(--brigtRed);
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  @include breakpoint(laptopL) {
    display: flex;
    text-align: left;
  }
  &__title {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    @include breakpoint(laptopL) {
      max-width: 500px;
    }
  }
  &__btn {
    color: var(--brigtRed);
    background: #fff;
    margin: 2rem auto 0 auto;
    &:hover {
      background: hsl(0, 0%, 83%);
    }
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 10%;
  }
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--paraDark);
  color: #fff;
  padding: 0 1rem;
  grid-template-rows: repeat(1fr, 5);
  justify-items: center;
  justify-content: center;
  align-items: center;

  @include breakpoint(laptop) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "logo navigation form"
      "socials navigation copyright";
    padding: 2rem;
  }
  &__form {
    display: flex;
    margin: 2rem 0;
    @include breakpoint(laptop) {
      grid-area: form;
    }
    &--input {
      padding: 0.6rem 1rem;
      border-radius: 1.5rem;
      border: none;
      margin-right: 1rem;
      min-width: 200px;
      max-height: 30px;
      transition: 0.2s;
      outline: 0;
      &:focus,
      &:active {
        box-shadow: 1px 1px 4px #fff;
      }
      &::placeholder {
        opacity: 0.5;
      }
    }
    &--btn {
      max-width: 30px;
    }
  }
  &__nav {
    @include breakpoint(laptop) {
      grid-area: navigation;
      align-self: stretch;
      justify-self: stretch;
      max-width: 300px;
      margin: 0 auto;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    margin-top: 2rem;
    max-width: 500px;

    &--link {
      text-decoration: none;
      color: #fff;
      display: block;
      margin: 0.5rem 2rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__copyright {
    margin: 4rem 0 2rem 0;
    opacity: 0.7;
    @include breakpoint(laptop) {
      grid-area: copyright;
      margin: 0;
    }
  }
  &--logo {
    margin-top: 2rem;
    @include breakpoint(laptop) {
      grid-area: logo;
      margin: 0;
    }
  }
}
.socials {
  margin: 2rem 0;
  @include breakpoint(laptop) {
    grid-area: socials;
  }
  .fab {
    font-size: 32px;
    margin: 0 1rem;
    @include breakpoint(laptop) {
      font-size: 26px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
.opinions {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 4rem;
  &__title {
    font-size: 36px;
    margin-bottom: 2rem;
  }
  &--btn {
    margin: 3rem auto 1rem auto;
    min-width: 110px;
    @include breakpoint(laptopL) {
      margin: 0 auto;
    }
  }
}

.slider {
  position: relative;
  display: flex;
  text-align: center;
  margin: 4rem 0;
  transition: 0.4s ease;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; //FIREFOX
  &::-webkit-scrollbar{
    display: none; //SAFARI/CHROME
  }
  &__item {
    min-width: 320px;
    background: rgb(245, 244, 244);
    padding: 1rem 2rem;
    position: relative;
    scroll-snap-align: start;
    
    @include breakpoint(laptop) {
      min-width: 250px;
    }
    @include breakpoint(laptopL) {
      padding: 1rem;
      min-width: 250px;
      margin: 0 1rem;
    }

    &--img {
      position: absolute;
      max-height: 80px;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
    &--name {
      color: var(--darkBlue);
      font-weight: 700;
      margin: 4rem 0 1.5rem 0;
    }
  }
}
.sliderButtons {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  @include breakpoint(laptopL) {
    display: none;
  }
  &__circle {
    height: 10px;
    width: 10px;
    border: 2px solid var(--brigtRed);
    border-radius: 50%;
    margin: 0 0.3rem;
    transition: 0.2s;
    &:last-of-type {
      @include breakpoint(tablet) {
        display: none;
      }
    }
    &:nth-of-type(3) {
      @include breakpoint(laptop) {
        display: none;
      }
    }
  }
}
.activeCircle {
  background: var(--brigtRed);
}
.valid {
  border: 2px solid hsl(154, 79%, 54%) !important;
  box-shadow: 1px 2px 4px hsl(154, 79%, 54%) !important;
}

.invalid {
  border: 2px solid rgb(245, 107, 107) !important;
  box-shadow: 1px 2px 4px rgb(245, 107, 107) !important;
}
