@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
}

:root {
  --brigtRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);
  --paraLight: hsl(227, 12%, 61%);
  --paraDark: hsl(233, 12%, 13%);
  --paleRed: hsl(13, 100%, 96%);
}

a,
.fab {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  outline: 0;
}

h1,
h2,
h3 {
  color: var(--darkBlue);
  font-weight: 700;
}

p {
  color: var(--paraLight);
}

body {
  font-size: 16px;
}

.getStartedBtn {
  padding: 0.8rem 2rem;
  background: var(--brigtRed);
  border-radius: 1.5rem;
  text-decoration: none;
  color: var(--paleRed);
  font-weight: 700;
  display: block;
  max-width: 90px;
}

.getStartedBtn:hover {
  background: #f1481e;
}

.logo {
  max-height: 25px;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.header .getStartedBtn {
  display: none;
}

.header .nav {
  display: none;
}

.menuBtn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.menuBtn__bar {
  width: 100%;
  height: 4px;
  background: var(--darkBlue);
}

.bgBlob {
  position: absolute;
  top: -5%;
  right: -10%;
  z-index: -1;
  right: 0;
  width: 250px;
  border-radius: 7rem;
  background: var(--paleRed);
  height: 450px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.main__images--graph {
  max-width: 100vw;
}

.main__images__bg {
  position: absolute;
  top: 0;
  right: 0;
}

.main__textSec {
  position: relative;
  text-align: center;
}

.main__textSec--bg {
  right: -55%;
  width: 200px;
}

.main__textSec--title {
  font-size: 36px;
  line-height: 1.2;
}

.main__textSec--text {
  margin: 1rem 0;
}

.main__textSec--btn {
  margin: 2rem auto 4rem auto;
}

.about {
  padding: 0 1rem;
}

.about__main {
  text-align: center;
  padding: 2rem 1rem;
}

.about__main--title {
  font-size: 32px;
}

.about__main--text {
  margin: 1rem 0 2rem 0;
}

.about__list {
  margin-bottom: 5rem;
}

.about__list--item {
  margin: 2rem 0;
}

.about__list--title {
  letter-spacing: -1px;
  background: var(--paleRed);
  border-radius: 1rem;
  padding: 0.4rem 0;
  margin: 0 0 1rem 0;
}

.about__list--title--number {
  background: var(--brigtRed);
  padding: 0.4rem 1.5rem;
  border-radius: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-right: 0.5rem;
}

.about__list--text {
  line-height: 1.8;
}

.join {
  background: var(--brigtRed);
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
  margin-top: 2rem;
}

.join__title {
  font-size: 38px;
  color: #fff;
  font-weight: 700;
}

.join__btn {
  color: var(--brigtRed);
  background: #fff;
  margin: 2rem auto 0 auto;
}

.join__btn:hover {
  background: #d4d4d4;
}

.join__bg {
  position: absolute;
  left: 0;
  top: 10%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--paraDark);
  color: #fff;
  padding: 0 1rem;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.footer__form--input {
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;
  border: none;
  margin-right: 1rem;
  min-width: 200px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: 0;
}

.footer__form--input:focus, .footer__form--input:active {
  -webkit-box-shadow: 1px 1px 4px #fff;
          box-shadow: 1px 1px 4px #fff;
}

.footer__form--input::-webkit-input-placeholder {
  opacity: 0.5;
}

.footer__form--input:-ms-input-placeholder {
  opacity: 0.5;
}

.footer__form--input::-ms-input-placeholder {
  opacity: 0.5;
}

.footer__form--input::placeholder {
  opacity: 0.5;
}

.footer__form--btn {
  max-width: 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.footer__list--link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 0.5rem 2rem;
}

.footer__list--link:hover {
  opacity: 0.7;
}

.footer__copyright {
  margin: 4rem 0 2rem 0;
  opacity: 0.7;
}

.footer--logo {
  margin-top: 2rem;
}

.socials {
  margin: 2rem 0;
}

.socials .fab {
  font-size: 32px;
  margin: 0 1rem;
}

.socials .fab:hover {
  opacity: 0.7;
}

.opinions {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opinions__title {
  font-size: 36px;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 4rem 0;
}

.slider__item {
  min-width: 320px;
}

.slider__item--name {
  color: var(--darkBlue);
  font-weight: 700;
  margin: 1.5rem 0;
}
/*# sourceMappingURL=style.css.map */