@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
}

:root {
  --brigtRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);
  --paraLight: hsl(227, 12%, 61%);
  --paraDark: hsl(233, 12%, 13%);
  --paleRed: hsl(13, 100%, 96%);
}

a,
.fab {
  transition: 0.2s;
  cursor: pointer;
  outline: 0;
}

h1,
h2,
h3 {
  color: var(--darkBlue);
  font-weight: 700;
}
@media (min-width: 768px) {
  h1,
h2,
h3 {
    max-width: 500px;
    margin: 0 auto;
  }
}

p {
  color: var(--paraLight);
}
@media (min-width: 768px) {
  p {
    max-width: 550px;
    margin: 0 auto;
  }
}

body {
  font-size: 16px;
}

.getStartedBtn {
  padding: 0.8rem 2rem;
  background: var(--brigtRed);
  border-radius: 1.5rem;
  text-decoration: none;
  color: var(--paleRed);
  font-weight: 700;
  display: block;
  max-width: 90px;
  max-height: 25px;
}
.getStartedBtn:hover {
  background: #f1481e;
}

.logo {
  max-height: 25px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}
.header .getStartedBtn {
  display: none;
}
@media (min-width: 1024px) {
  .header .getStartedBtn {
    display: flex;
  }
}
.header .nav {
  top: -100%;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(50, 70, 136, 0.98);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  transition: 0.4s;
}
@media (min-width: 1024px) {
  .header .nav {
    position: relative;
    height: 3vh;
    background: #fff;
  }
}
.header .nav--active {
  top: 0;
}
.header .nav__list {
  list-style: none;
  font-size: 28px;
}
@media (min-width: 1024px) {
  .header .nav__list {
    font-size: 20px;
    display: flex;
  }
}
.header .nav__item {
  margin: 1rem 0;
  position: relative;
  padding-bottom: 0.3rem;
  overflow-x: hidden;
}
.header .nav__item:after {
  content: "";
  position: absolute;
  width: 100%;
  left: -100%;
  bottom: 0;
  background: #fff;
  height: 3px;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .header .nav__item:after {
    background: var(--darkBlue);
    height: 2px;
  }
}
.header .nav__item:hover::after {
  left: 0;
}
@media (min-width: 1024px) {
  .header .nav__item {
    margin: 0 0.6rem;
  }
}
.header .nav__link {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .header .nav__link {
    color: var(--darkBlue);
  }
}

.menuBtn {
  position: relative;
  display: flex;
  height: 20px;
  width: 30px;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  z-index: 11;
}
@media (min-width: 1024px) {
  .menuBtn {
    display: none;
  }
}
.menuBtn__bar {
  width: 100%;
  height: 4px;
  background: var(--darkBlue);
  transition: 0.3s;
}
.menuBtn__bar--active:first-of-type {
  transform-origin: 0% 0%;
  transform: translateY(-3px) rotate(45deg);
}
.menuBtn__bar--active:nth-of-type(2) {
  opacity: 0;
}
.menuBtn__bar--active:last-of-type {
  transform: translateY(1px) rotate(-45deg);
  transform-origin: 0% 100%;
}

.bgBlob {
  position: absolute;
  top: -5%;
  right: -10%;
  z-index: -1;
  right: 0;
  width: 250px;
  border-radius: 7rem;
  background: var(--paleRed);
  height: 450px;
  transform: rotate(45deg);
}
@media (min-width: 1024px) {
  .bgBlob {
    height: 650px;
    width: 350px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .main__container {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  .main__images {
    order: 2;
  }
}
.main__images--graph {
  max-width: 100vw;
}
.main__images__bg {
  position: absolute;
  top: 0;
  right: 0;
}
.main__textSec {
  position: relative;
  text-align: center;
}
@media (min-width: 1440px) {
  .main__textSec {
    text-align: left;
    max-width: 500px;
    margin-right: 3rem;
  }
}
.main__textSec--bg {
  right: -55%;
  width: 200px;
}
@media (min-width: 1024px) {
  .main__textSec--bg {
    display: none;
  }
}
.main__textSec--title {
  font-size: 36px;
  line-height: 1.2;
}
@media (min-width: 1440px) {
  .main__textSec--title {
    margin: 0;
  }
}
.main__textSec--text {
  margin: 1rem;
}
.main__textSec--btn {
  margin: 2rem auto 4rem auto;
}
@media (min-width: 1440px) {
  .main__textSec--btn {
    margin: 2rem 0;
  }
}

.about {
  padding: 0 1rem;
  position: relative;
}
@media (min-width: 1440px) {
  .about {
    display: flex;
    padding: 2rem;
    justify-content: center;
  }
}
.about__bg {
  left: -10%;
  top: 25%;
  display: none;
}
@media (min-width: 1440px) {
  .about__bg {
    display: block;
  }
}
.about__main {
  text-align: center;
  padding: 2rem 1rem;
}
@media (min-width: 1440px) {
  .about__main {
    text-align: left;
    margin-right: 4rem;
    max-width: 450px;
  }
}
.about__main--title {
  font-size: 32px;
}
@media (min-width: 1440px) {
  .about__main--title {
    margin: 0;
  }
}
.about__main--text {
  margin: 1rem 0 2rem 0;
}
@media (min-width: 768px) {
  .about__main--text {
    margin: 1rem auto;
  }
}
.about__list {
  margin-bottom: 5rem;
}
.about__list--item {
  margin: 2rem 0;
}
.about__list--title {
  letter-spacing: -1px;
  background: var(--paleRed);
  border-radius: 1rem;
  padding: 0.4rem 0;
  margin: 0 0 1rem 0;
}
.about__list--title--number {
  background: var(--brigtRed);
  padding: 0.4rem 1.5rem;
  border-radius: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-right: 0.5rem;
}
.about__list--text {
  line-height: 1.8;
}

.join {
  background: var(--brigtRed);
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
}
@media (min-width: 1440px) {
  .join {
    display: flex;
    text-align: left;
  }
}
.join__title {
  font-size: 38px;
  color: #fff;
  font-weight: 700;
}
@media (min-width: 1440px) {
  .join__title {
    max-width: 500px;
  }
}
.join__btn {
  color: var(--brigtRed);
  background: #fff;
  margin: 2rem auto 0 auto;
}
.join__btn:hover {
  background: #d4d4d4;
}
.join__bg {
  position: absolute;
  left: 0;
  top: 10%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--paraDark);
  color: #fff;
  padding: 0 1rem;
  grid-template-rows: repeat(1fr, 5);
  justify-items: center;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo navigation form" "socials navigation copyright";
    padding: 2rem;
  }
}
.footer__form {
  display: flex;
  margin: 2rem 0;
}
@media (min-width: 1024px) {
  .footer__form {
    grid-area: form;
  }
}
.footer__form--input {
  padding: 0.6rem 1rem;
  border-radius: 1.5rem;
  border: none;
  margin-right: 1rem;
  min-width: 200px;
  max-height: 30px;
  transition: 0.2s;
  outline: 0;
}
.footer__form--input:focus, .footer__form--input:active {
  box-shadow: 1px 1px 4px #fff;
}
.footer__form--input::-moz-placeholder {
  opacity: 0.5;
}
.footer__form--input:-ms-input-placeholder {
  opacity: 0.5;
}
.footer__form--input::placeholder {
  opacity: 0.5;
}
.footer__form--btn {
  max-width: 30px;
}
@media (min-width: 1024px) {
  .footer__nav {
    grid-area: navigation;
    align-self: stretch;
    justify-self: stretch;
    max-width: 300px;
    margin: 0 auto;
  }
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin-top: 2rem;
  max-width: 500px;
}
.footer__list--link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 0.5rem 2rem;
}
.footer__list--link:hover {
  opacity: 0.7;
}
.footer__copyright {
  margin: 4rem 0 2rem 0;
  opacity: 0.7;
}
@media (min-width: 1024px) {
  .footer__copyright {
    grid-area: copyright;
    margin: 0;
  }
}
.footer--logo {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .footer--logo {
    grid-area: logo;
    margin: 0;
  }
}

.socials {
  margin: 2rem 0;
}
@media (min-width: 1024px) {
  .socials {
    grid-area: socials;
  }
}
.socials .fab {
  font-size: 32px;
  margin: 0 1rem;
}
@media (min-width: 1024px) {
  .socials .fab {
    font-size: 26px;
  }
}
.socials .fab:hover {
  opacity: 0.7;
}

.opinions {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 4rem;
}
.opinions__title {
  font-size: 36px;
  margin-bottom: 2rem;
}
.opinions--btn {
  margin: 3rem auto 1rem auto;
  min-width: 110px;
}
@media (min-width: 1440px) {
  .opinions--btn {
    margin: 0 auto;
  }
}

.slider {
  position: relative;
  display: flex;
  text-align: center;
  margin: 4rem 0;
  transition: 0.4s ease;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
@media (min-width: 1440px) {
  .slider {
    overflow-x: visible;
  }
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider__item {
  min-width: 320px;
  background: #f5f4f4;
  padding: 1rem 2rem;
  position: relative;
  scroll-snap-align: start;
}
@media (min-width: 1024px) {
  .slider__item {
    min-width: 250px;
  }
}
@media (min-width: 1440px) {
  .slider__item {
    padding: 1rem;
    min-width: 250px;
    margin: 0 1rem;
  }
}
.slider__item--img {
  position: absolute;
  max-height: 80px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.slider__item--name {
  color: var(--darkBlue);
  font-weight: 700;
  margin: 4rem 0 1.5rem 0;
}

.sliderButtons {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .sliderButtons {
    display: none;
  }
}
.sliderButtons__circle {
  height: 10px;
  width: 10px;
  border: 2px solid var(--brigtRed);
  border-radius: 50%;
  margin: 0 0.3rem;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .sliderButtons__circle:last-of-type {
    display: none;
  }
}

.activeCircle {
  background: var(--brigtRed);
}

.valid {
  border: 2px solid #2de696 !important;
  box-shadow: 1px 2px 4px #2de696 !important;
}

.invalid {
  border: 2px solid #f56b6b !important;
  box-shadow: 1px 2px 4px #f56b6b !important;
}/*# sourceMappingURL=style.css.map */